<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd">
     
 <bean id = "PracticeAdvice" class = "com.springDemo.PracticeAdvice"></bean>
<bean id = "cricketCoach" class= "com.springDemo.CricketCoach">
<constructor-arg ref = "PracticeAdvice"></constructor-arg>
</bean>
<bean id ="FootballCoach" class = "com.springDemo.FootballCoach">
<property name="expertAdvice" ref = "PracticeAdvice"></property>
</bean>
</beans>